<h1>Showing your current Article.</h1>

<p>
	Title of Article: <%= @article.title %>
</p>

<p>
Description <%= @article.description %>
</p>

<%= link_to "Back to articles", articles_path %><br>
<%= link_to "Edit aritlces", edit_article_path(@article) %>
