<h1> This is the life I chose </h1>
<h2>Cyberpunk. High tech, low life.</h2>
<img src="http://static1.squarespace.com/static/53c34685e4b056735b9b4fd7/t/54b865b0e4b0ac034b1c80b8/1421370804263/cyberpunk"><br>

<%=link_to 'Go back to the home page', root_path %>